body {
    background-color: #87d378;
    
  }

  
  
  .login-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  
  h2 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 1em;
    text-align: center;
  }
  
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
  }